<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap Core CSS -->
  <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/plugins/wizard/steps.css" rel="stylesheet">
  <!--alerts CSS -->
  <link href="../assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
  <%- include('header'); -%>
    <!-- </head>

<body> -->
    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="row page-titles">
          <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
              </li>
              <li class="breadcrumb-item active">Add Employee</li>
            </ol>
          </div>
          <div class="col-md-7 col-4 align-self-center">
            <div class="d-flex m-t-10 justify-content-end">
              <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                  <h6 class="m-b-0">
                    <small>THIS MONTH</small>
                  </h6>
                  <h4 class="m-t-0 text-info"><i class="fa fa-inr"></i><%= currentSale.toFixed(2) %></h4>
                </div>
                <div class="spark-chart">
                  <div id="monthchart"></div>
                </div>
              </div>
              <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                  <h6 class="m-b-0">
                    <small>LAST MONTH</small>
                  </h6>
                  <h4 class="m-t-0 text-primary"><i class="fa fa-inr"></i><%= previousSale.toFixed(2) %></h4>
                </div>
                <div class="spark-chart">
                  <div id="lastmonthchart"></div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <% if(successMessage) { %>
        <div class="row">
          <div class="alert alert-success col-md-12">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            <h3 class="text-success"><i class="fa fa-check-circle"></i> Success</h3> <%= successMessage %>
          </div>
        </div>
        <% } %>
        <% if(message) { %>
        <div class="row">
          <div class="alert alert-danger col-md-12">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            <h3 class="text-danger"><i class="fa fa-check-circle"></i> Error</h3> <%= message %>
          </div>
        </div>
        <% } %>
        <!-- Validation wizard -->
        <div class="row" id="validation">
          <div class="col-12">
            <div class="card wizard-content">
              <div class="card-body">
                <h4 class="card-title">Add New Employee</h4>
                <h6 class="card-subtitle">Create New Employee Right Away</h6>
                <form method="POST" action="/addemp" name="form" class="validation-wizard wizard-circle" onclick="return Validation()">
                  <!-- Step 1 -->
                  <h6>Step 1</h6>
                  <section>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name"> Full Name :
                            <span class="danger">*</span>
                          </label>
                          <input type="text" class="form-control required" id="name" name="name" placeholder="Enter Employee Name">
                        </div>
                      </div>
                      <div class="col-md-6">
                       <label for="name"> Username :
                            <span class="danger">*</span>
                          </label>
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">@</span>
                          <input type="text" class="form-control required" id="username" name="username" placeholder="Username" aria-describedby="basic-addon1"> </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email"> Email Address :
                            <span class="danger">*</span>
                          </label>
                          <input type="email" class="form-control required" id="email" name="email" placeholder="name@example.com"> </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="mobile">Mobile Number :
                            <span class="danger">*</span>
                          </label>

                          <input type="tel" class="form-control required" id="mobile" name="mobile" placeholder="Ph No."> </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="address"> Address :
                            <span class="danger">*</span>
                          </label>
                          <input type="text" class="form-control required" id="address" name="address" placeholder="Enter location">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="joining_date">Joining Date :</label>
                          <input type="date" class="form-control" id="joining_date" name="joining_date"> </div>
                      </div>
                    </div>
                  </section>
                  <!-- Step 2 -->
                  <h6>Step 2</h6>
                  <section>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="password">Password :
                            <span class="danger">*</span>
                          </label>
                          <input type="password" class="form-control required" id="password" name="password">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="position"> Position :</label>
                          <input type="text" class="form-control required" id="position" name="position"> </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="shortDescription3">Short Description :</label>
                          <textarea name="shortDescription" id="shortDescription3" rows="5" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>
                  </section>
                  <!-- Step 3 -->
                  <h6>Step 3</h6>
                  <section>
                    <div class="row">
                      <div class="col-md-12">
                      <label for="fb">Facebook Profile:</label>
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon3">https://facebook.com/</span>
                          <input type="url" class="form-control" id="fb" name="fb" aria-describedby="basic-addon3">
                        </div><br />
                      </div>

                      <div class="col-md-12">
                      <label for="twitter"> Twitter Profile:</label>
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon3">https://twitter.com/</span>
                          <input type="url" class="form-control" id="twitter" name="twitter" aria-describedby="basic-addon3"> </div> <br />
                      </div>

                      <div class="col-md-12">
                      <label for="yt">Youtube Channel :</label>
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon3">https://youtube.com/</span>
                          <input type="url" class="form-control" id="yt" name="yt" aria-describedby="basic-addon3"> </div> <br />
                      </div>
                    </div>
                  </section>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- vertical wizard -->

      </div>
    </div>




    <!--Custom JavaScript -->
    <!-- <script src="assets/js/custom.min.js"></script> -->
    <script src="assets/plugins/moment/min/moment.min.js"></script>
    <script src="assets/plugins/wizard/jquery.steps.min.js"></script>
    <script src="assets/plugins/wizard/jquery.validate.min.js"></script>
    <!-- Sweet-Alert  -->
    <script src="assets/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="assets/plugins/wizard/steps.js"></script>
    <script>
      document.getElementById("joining_date").value = new Date().toJSON().slice(0, 10);
          //console.log(new Date().toJSON().slice(0,10));
    </script>
    <script type="text/javascript">
      function Validation() {
        var a = document.form.mobile.value;
        // if (a == "") {
        //   alert("Please Enter the Contact Number");
        //   document.form.mobile.focus();
        //   return false;
        // }
        // if (isNaN(a)) {
        //   alert("Enter the valid Mobile Number(Like : 95XXXXXX17)");
        //   document.form.mobile.focus();
        //   return false;
        // }
        // if (a.length != 10) {
        //   alert("Your Mobile Number must be 10 Integers");
        //   document.form.mobile.select();
        //   return false;
        // }
      }
    </script>

    <%- include('footer'); -%>
