<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Admin Panel - GST Billing System">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
  <title>Admin Panel - GST Billing System</title>
  <!-- Bootstrap Core CSS -->
  <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- chartist CSS -->
  <link href="assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
  <link href="assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
  <link href="assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
  <link href="assets/plugins/css-chart/css-chart.css" rel="stylesheet">
  <!--This page css - Morris CSS -->
  <link href="assets/plugins/morrisjs/morris.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="assets/css/style.css" rel="stylesheet">
  <!-- You can change the theme colors from here -->
  <link href="assets/css/colors/purple-dark.css" id="theme" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
          <a class="navbar-brand" href="dashboard">
            <!-- Logo icon -->
            <b>
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->

              <!-- Light Logo icon -->
              <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
            </b>
            <!--End Logo icon -->
            <!-- Logo text -->
            <span>
              <!-- Light Logo text -->
              <img src="assets/images/logo-light-text.png" alt="homepage" class="light-logo" />
            </span>
          </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav mr-auto mt-md-0">
            <!-- This is  -->
            <li class="nav-item">
              <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                <i class="mdi mdi-menu"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
                <i class="ti-menu"></i>
              </a>
            </li>

            <!-- ============================================================== -->
            <!-- Messages -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown mega-dropdown">
              <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="mdi mdi-view-grid"></i>
              </a>
              <div class="dropdown-menu scale-up-left">
                <ul class="mega-dropdown-menu row">

                  <li class="col-lg-3  m-b-30">
                    <h4 class="m-b-20">CONTACT US</h4>
                    <!-- Contact -->
                    <form>
                      <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name"> </div>
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter email"> </div>
                      <div class="form-group">
                        <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                      </div>
                      <button type="submit" class="btn btn-info">Submit</button>
                    </form>
                  </li>
                  <li class="col-lg-3 col-xlg-4 m-b-30">
                    <h4 class="m-b-20">List style</h4>
                    <!-- List style -->
                    <ul class="list-style-none">
                      <li>
                        <a href="javascript:void(0)">
                          <i class="fa fa-check text-success"></i> You can give link</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <i class="fa fa-check text-success"></i> Give link</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <i class="fa fa-check text-success"></i> Another Give link</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <i class="fa fa-check text-success"></i> Forth link</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <i class="fa fa-check text-success"></i> Another fifth link</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
            <!-- ============================================================== -->
            <!-- End Messages -->
            <!-- ============================================================== -->
          </ul>
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
          <ul class="navbar-nav my-lg-0">
            <!-- ============================================================== -->
            <!-- Comment -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="mdi mdi-message"></i>
                <div class="notify">
                  <span class="heartbit"></span>
                  <span class="point"></span>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                <ul>
                  <li>
                    <div class="drop-title">Notifications</div>
                  </li>
                  <li>
                    <div class="message-center">
                      <!-- Message -->
                      <a href="#">
                        <div class="btn btn-danger btn-circle">
                          <i class="fa fa-check"></i>
                        </div>
                        <div class="mail-contnet">
                          <h5>
                            <%= userLoggedIn.name %>!
                          </h5>
                          <span class="mail-desc">Welcome to The System
                          </span>

                        </div>
                      </a>
                      <!-- Message -->
                      <% if(message) { %>
                        <a href="#">
                          <div class="btn btn-danger btn-circle">
                            <i class="ti-settings"></i>
                          </div>
                          <div class="mail-contnet">
                            <h5>Error</h5>
                            <span class="mail-desc">
                              <%= message %>
                            </span>
                          </div>
                        </a>
                        <% } %>
                    </div>
                  </li>
                  <li>
                    <a class="nav-link text-center" href="javascript:void(0);">
                      <strong>Check all notifications</strong>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <!-- ============================================================== -->
            <!-- End Comment -->
            <!-- ============================================================== -->
            <!-- Profile -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img src="assets/images/users/1.jpg" alt="user" class="profile-pic" />
              </a>
              <div class="dropdown-menu dropdown-menu-right scale-up">
                <ul class="dropdown-user">
                  <li>
                    <div class="dw-user-box">
                      <div class="u-img">
                        <img src="assets/images/users/1.jpg" alt="user">
                      </div>
                      <div class="u-text">
                        <h4>
                          <%= userLoggedIn.name %>
                        </h4>
                        <p class="text-muted">
                          <%= userLoggedIn.email %>
                        </p>
                        <a href="profile" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                      </div>
                    </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="profile">
                      <i class="ti-user"></i> My Profile</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="#">
                      <i class="ti-settings"></i> Account Setting</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="#">
                      <i class="fa fa-power-off"></i> Logout</a>
                  </li>
                </ul>
              </div>
            </li>
            <!-- ============================================================== -->
            <!-- Language -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="flag-icon flag-icon-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
          <!-- User profile image -->
          <div class="profile-img">
            <img src="assets/images/users/1.jpg" alt="user" /> </div>
          <!-- User profile text-->
          <div class="profile-text">
            <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
              <%= userLoggedIn.name %>
            </a>
            <div class="dropdown-menu animated flipInY">
              <a href="profile" class="dropdown-item">
                <i class="ti-user"></i> My Profile</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="ti-settings"></i> Account Setting</a>
              <div class="dropdown-divider"></div>
              <a href="logout" class="dropdown-item">
                <i class="fa fa-power-off"></i> Logout</a>
            </div>
          </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="nav-small-cap">PERSONAL</li>
            <li>
              <a class="waves-effect waves-dark" href="dashboard" aria-expanded="false">
                <i class="mdi mdi-gauge"></i>
                <span class="hide-menu">Dashboard </span>
              </a>
            </li>
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                <i class="mdi mdi-laptop-windows"></i>
                <span class="hide-menu">BILLING</span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <li>
                  <a href="addbill">Generate Bill</a>
                </li>
                <li>
                  <a href="manage-bill">Manage Bill</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                <i class="mdi mdi-book-multiple"></i>
                <span class="hide-menu">PRODUCTS</span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <li>
                  <a href="addproduct">Add Product</a>
                </li>
                <li>
                  <a href="manage-product">Manage Product</a>
                </li>
              </ul>
            </li>
            <% if(userLoggedIn.admin == true) { %>
              <li>
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                  <i class="mdi mdi-chart-line"></i>
                  <span class="hide-menu">MANAGER PANEL</span>
                </a>
                <ul aria-expanded="false" class="collapse">
                  <li>
                    <a href="addemp">Add Employee</a>
                  </li>
                  <li>
                    <a href="manage-emp">Manage Employee</a>
                  </li>
                  <li>
                    <a href="report">Generate Report </a>
                  </li>
                  <% } %>
                </ul>
              </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
      <!-- Bottom points-->
      <div class="sidebar-footer">
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Settings">
          <i class="ti-settings"></i>
        </a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Email">
          <i class="mdi mdi-gmail"></i>
        </a>
        <!-- item-->
        <a href="logout" class="link" data-toggle="tooltip" title="Logout">
          <i class="mdi mdi-power"></i>
        </a>
      </div>
      <!-- End Bottom points-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
          <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
              </li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
          <div class="col-md-7 col-4 align-self-center">
            <div class="d-flex m-t-10 justify-content-end">
              <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                  <h6 class="m-b-0">
                    <small>THIS MONTH</small>
                  </h6>
                  <h4 class="m-t-0 text-info">$58,356</h4>
                </div>
                <div class="spark-chart">
                  <div id="monthchart"></div>
                </div>
              </div>
              <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                  <h6 class="m-b-0">
                    <small>LAST MONTH</small>
                  </h6>
                  <h4 class="m-t-0 text-primary">$48,356</h4>
                </div>
                <div class="spark-chart">
                  <div id="lastmonthchart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="card-group">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h3>
                    <%= productcount %>
                  </h3>
                  <h6 class="card-subtitle">Total Product</h6>
                </div>
                <div class="col-12">
                  <div class="progress">
                    <div class="progress-bar active progress-bar-striped bg-success" role="progressbar" style="width: 10%; height: 14px;" aria-valuenow="25"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column -->
          <!-- Column -->
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h3>
                    <%= billcount %>
                  </h3>
                  <h6 class="card-subtitle">Total Invoice Generated</h6>
                </div>
                <div class="col-12">
                  <div class="progress">
                    <div class="progress-bar active progress-bar-striped bg-info" role="progressbar" style="width: 9%; height: 14px; " aria-valuenow="25
                      " aria-valuemin="0 " aria-valuemax="100 "></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column -->
          <!-- Column -->
          <div class="card ">
            <div class="card-body ">
              <div class="row ">
                <div class="col-12 ">
                  <h3>
                    <%= usercount %>
                  </h3>
                  <h6 class="card-subtitle ">Total Users</h6>
                </div>
                <div class="col-12 ">
                  <div class="progress ">
                    <div class="progress-bar active progress-bar-striped bg-primary " role="progressbar " style="width: 6% ; height:
                      14px; " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 "></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column -->
          <!-- Column -->
          <div class="card ">
            <div class="card-body ">
              <div class="row ">
                <div class="col-12 ">
                  <h3>0</h3>
                  <h6 class="card-subtitle ">Total Report Generated</h6>
                </div>
                <div class="col-12 ">
                  <div class="progress ">
                    <div class="progress-bar progress-bar-striped bg-inverse " role="progressbar " style="width: 0%; height: 14px;
                      " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 "></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Row -->
        <div class="row ">
          <div class="col-12 ">
            <div class="card ">
              <div class="row ">
                <div class="col-lg-6 col-md-4 ">
                  <div class="card-body ">
                    <h3>Sales of Ample Vs Pixel</h3>
                    <h6 class="card-subtitle m-b-0 ">check the difference of Admin</h6>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 b-r align-self-center ">
                  <div class="card-body ">
                    <div class="d-flex flex-row ">
                      <div class="col-8 p-0 align-self-center ">
                        <h3 class="m-b-0 ">$31568</h3>
                        <h5 class="text-muted m-b-0 ">Growth</h5>
                      </div>
                      <div class="col-4 text-right ">
                        <div class="round align-self-center round-success ">
                          <i class="mdi mdi-chart-line "></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 align-self-center ">
                  <div class="card-body ">
                    <div class="d-flex flex-row ">
                      <div class="col-8 p-0 align-self-center ">
                        <h3 class="m-b-0 ">$15478</h3>
                        <h5 class="text-muted m-b-0 ">Loss</h5>
                      </div>
                      <div class="col-4 text-right ">
                        <div class="round align-self-center bg-inverse ">
                          <i class="mdi mdi-chart-bar "></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <hr class="m-t-0 "> </div>
              <div class="chartist-chart andvios m-t-40 " style="height:350px; "> </div>
            </div>
          </div>
        </div>
        <!-- Row -->
        <div class="row ">
          <div class="col-lg-7 col-md-12 ">
            <div class="card ">
              <div class="card-body ">
                <ul class="list-inline pull-right ">
                  <li>
                    <h6 class="text-muted ">
                      <i class="fa fa-circle m-r-5 text-success "></i>Free</h6>
                  </li>
                  <li>
                    <h6 class="text-muted ">
                      <i class="fa fa-circle m-r-5 text-primary "></i>Premium</h6>
                  </li>
                </ul>
                <h3 class="card-title ">Download Count</h3>
                <h6 class="card-subtitle ">you can check the count</h6>
                <div class="download-state chartist-chart " style="height:380px "></div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 ">
            <!-- Column -->
            <div class="card card-inverse card-primary ">
              <div class="card-body ">
                <div class="d-flex ">
                  <div class="m-r-20 align-self-center ">
                    <h1 class="text-white ">
                      <i class="ti-pie-chart "></i>
                    </h1>
                  </div>
                  <div>
                    <h3 class="card-title ">Bandwidth usage</h3>
                    <h6 class="card-subtitle ">March 2017</h6>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-4 align-self-center ">
                    <h2 class="text-white ">50 GB</h2>
                  </div>
                  <div class="col-8 align-self-center ">
                    <div class="usage chartist-chart " style="height:120px "></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="card card-inverse card-success ">
              <div class="card-body ">
                <div class="d-flex ">
                  <div class="m-r-20 align-self-center ">
                    <h1 class="text-white ">
                      <i class="icon-cloud-download "></i>
                    </h1>
                  </div>
                  <div>
                    <h3 class="card-title ">Download count</h3>
                    <h6 class="card-subtitle ">March 2017</h6>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-4 align-self-center ">
                    <h2 class="text-white ">35487</h2>
                  </div>
                  <div class="col-8 text-right ">
                    <div class="spark-count " style="height:120px "></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
          </div>
        </div>
        <!-- Row -->
        <div class="row ">
          <!-- Column -->
          <div class="col-lg-7 col-md-12 ">
            <div class="card ">
              <div class="card-body ">
                <select class="custom-select pull-right ">
                  <option selected=" ">Electronics</option>
                  <option value="1 ">Kitchen</option>
                  <option value="2 ">Crocory</option>
                  <option value="3 ">Wooden</option>
                </select>
                <h4 class="card-title ">Products Availability</h4>
                <h6 class="card-subtitle ">March 2017</h6>
                <div class="table-responsive ">
                  <table class="table stylish-table ">
                    <thead>
                      <tr>
                        <th style="width:90px; ">Product</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <span class="round ">
                            <i class="ti-shopping-cart "></i>
                          </span>
                        </td>
                        <td>
                          <h6>
                            <a href="javascript:void(0) " class="link ">Apple iPhone 6 Space Grey, 16 GB</a>
                          </h6>
                          <small class="text-muted ">Product id : MI5457 </small>
                        </td>
                        <td>
                          <h5>357</h5>
                        </td>
                        <td>
                          <h5>$435</h5>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="round bg-success ">
                            <i class="ti-shopping-cart "></i>
                          </span>
                        </td>
                        <td>
                          <h6>
                            <a href="javascript:void(0) " class="link ">Fossil Marshall For Men Black watch</a>
                          </h6>
                          <small class="text-muted ">Product id : MI5457 </small>
                        </td>
                        <td>
                          <h5>357</h5>
                        </td>
                        <td>
                          <h5>$435</h5>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="round bg-danger ">
                            <i class="ti-shopping-cart "></i>
                          </span>
                        </td>
                        <td>
                          <h6>
                            <a href="javascript:void(0) " class="link ">Sony Bravia 80cm - 32 HD Ready LED TV</a>
                          </h6>
                          <small class="text-muted ">Product id : MI5457 </small>
                        </td>
                        <td>
                          <h5>357</h5>
                        </td>
                        <td>
                          <h5>$435</h5>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="round bg-primary ">
                            <i class="ti-shopping-cart "></i>
                          </span>
                        </td>
                        <td>
                          <h6>
                            <a href="javascript:void(0) " class="link ">Panasonic P75 Champagne Gold, 8 GB</a>
                          </h6>
                          <small class="text-muted ">Product id : MI5457 </small>
                        </td>
                        <td>
                          <h5>357</h5>
                        </td>
                        <td>
                          <h5>$435</h5>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- Column -->
          <div class="col-lg-5 col-md-12 ">
            <div class="card card-body ">
              <h3 class="card-title ">Notification</h3>
              <div class="message-box ">
                <div class="message-widget m-t-20 ">
                  <!-- Message -->
                  <a href="# ">
                    <div class="user-img ">
                      <span class="round bg-primary ">
                        <i class="mdi mdi-email "></i>
                      </span>
                    </div>
                    <div class="mail-contnet ">
                      <h5>You have 3 new messages</h5>
                      <span class="mail-desc ">Daniel Kristeen, Hanna Giover, Jeffry Brown</span>
                      <span class="time ">9:30 AM</span>
                    </div>
                  </a>
                  <!-- Message -->
                  <a href="# ">
                    <div class="user-img ">
                      <span class="round bg-danger ">
                        <i class="mdi mdi-earth "></i>
                      </span>
                    </div>
                    <div class="mail-contnet ">
                      <h5>Newsfeed available </h5>
                      <span class="mail-desc ">Todays headlines : Breakdancing Grandma Proves ..</span>
                      <span class="time ">9:10 AM</span>
                    </div>
                  </a>
                  <!-- Message -->
                  <a href="# ">
                    <div class="user-img ">
                      <span class="round bg-success ">
                        <i class="mdi mdi-currency-usd "></i>
                      </span>
                    </div>
                    <div class="mail-contnet ">
                      <h5>2 Invoices to pay</h5>
                      <span class="mail-desc ">$3500 from Krishnan, $2000 from Akhil</span>
                      <span class="time ">9:08 AM</span>
                    </div>
                  </a>
                  <!-- Message -->
                  <a href="# ">
                    <div class="user-img ">
                      <span class="round ">
                        <i class="mdi mdi-comment-check-outline "></i>
                      </span>
                    </div>
                    <div class="mail-contnet ">
                      <h5>15 New comments</h5>
                      <span class="mail-desc ">Jhonny : Hey this stuff is awesome and how can i ..</span>
                      <span class="time ">9:02 AM</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Row -->
        <div class="row ">
          <div class="col-lg-8 col-md-12 ">
            <div class="card ">
              <div class="row ">
                <!-- Column -->
                <div class="col-lg-6 col-xlg-3 col-md-6 ">
                  <div class="card-body ">
                    <h3 class="card-title m-b-30 ">Reviews</h3>
                    <span class="m-t-40 display-6 ">31560</span>
                    <h6 class="card-subtitle m-b-30 ">April the product got 234 reviews</h6>
                    <a href="javascript:void(0) " class="m-r-10 ">
                      <img src="assets/images/users/1.jpg " alt="user " class="img-circle " width="50 " />
                    </a>
                    <a href="javascript:void(0) " class="m-r-10 ">
                      <img src="assets/images/users/2.jpg " alt="user " class="img-circle " width="50 " />
                    </a>
                    <a href="javascript:void(0) " class="m-r-10 ">
                      <img src="assets/images/users/3.jpg " alt="user " class="img-circle " width="50 " />
                    </a>
                    <a href="javascript:void(0) " class="m-r-10 ">
                      <img src="assets/images/users/4.jpg " alt="user " class="img-circle " width="50 " />
                    </a>
                    <div class="clearfix "></div>
                    <button type="button " class="btn btn-success m-t-40 ">Read reviews</button>
                  </div>
                </div>
                <!-- Column -->
                <div class="col-lg-6 col-xlg-9 col-md-6 b-l p-l-0 ">
                  <ul class="product-review ">
                    <li>
                      <span class="text-muted display-5 ">
                        <i class="mdi mdi-emoticon-cool "></i>
                      </span>
                      <div class="dl m-l-10 ">
                        <h3 class="card-title ">Positive Reviews</h3>
                        <h6 class="card-subtitle ">25547 Reviews</h6>
                      </div>
                      <div class="progress ">
                        <div class="progress-bar bg-success " role="progressbar " style="width: 65%; height:6px;
                      " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 "></div>
                      </div>
                    </li>
                    <li>
                      <span class="text-muted display-5 ">
                        <i class="mdi mdi-emoticon-sad "></i>
                      </span>
                      <div class="dl m-l-10 ">
                        <h3 class="card-title ">Negative Reviews</h3>
                        <h6 class="card-subtitle ">5478 Reviews</h6>
                      </div>
                      <div class="progress ">
                        <div class="progress-bar bg-danger " role="progressbar " style="width: 15%; height:6px;
                      " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 "></div>
                      </div>
                    </li>
                    <li>
                      <span class="text-muted display-5 ">
                        <i class="mdi mdi-emoticon-neutral "></i>
                      </span>
                      <div class="dl m-l-10 ">
                        <h3 class="card-title ">Neutral Reviews</h3>
                        <h6 class="card-subtitle ">457 Reviews</h6>
                      </div>
                      <div class="progress ">
                        <div class="progress-bar bg-primary " role="progressbar " style="width: 35%; height:6px;
                      " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 "></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- Column -->
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 ">
            <div class="card ">
              <div class="card-body ">
                <select class="custom-select pull-right ">
                  <option selected=" ">January</option>
                  <option value="1 ">February</option>
                  <option value="2 ">March</option>
                  <option value="3 ">April</option>
                </select>
                <h3 class="card-title ">Visit source</h3>
                <div id="m-piechart " style="width:100%; height:254px "></div>
                <div class="text-center ">
                  <ul class="list-inline m-t-20 ">
                    <li>
                      <h6 class="text-muted ">
                        <i class="fa fa-circle m-r-5 text-success "></i>Mobile</h6>
                    </li>
                    <li>
                      <h6 class="text-muted ">
                        <i class="fa fa-circle m-r-5 text-primary "></i>Desktop</h6>
                    </li>
                    <li>
                      <h6 class="text-muted ">
                        <i class="fa fa-circle m-r-5 text-danger "></i>Tablet</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Row -->
        <div class="row ">
          <!-- Column -->
          <div class="col-lg-8 col-xlg-9 col-md-7 ">
            <div class="card ">
              <div class="card-body ">
                <h3 class="card-title ">Experiances</h3>
                <div class="table-responsive ">
                  <table class="table m-b-0 m-t-30 no-border ">
                    <tbody>
                      <tr>
                        <td style="width:90px; ">
                          <img src="assets/images/browser/photoshop.jpg " alt="photoshop " />
                        </td>
                        <td style="width:200px; ">
                          <h4 class="card-title ">Photoshop</h4>
                          <h6 class="card-subtitle ">This is a sample text</h6>
                        </td>
                        <td class="vm ">
                          <div class="progress ">
                            <div class="progress-bar bg-success " role="progressbar " style="width: 65%; height:6px;
                      " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 "></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td style="width:90px; ">
                          <img src="assets/images/browser/sketch.jpg " alt="sketch " />
                        </td>
                        <td style="width:200px; ">
                          <h4 class="card-title ">Sketch</h4>
                          <h6 class="card-subtitle ">This is a sample text</h6>
                        </td>
                        <td class="vm ">
                          <div class="progress ">
                            <div class="progress-bar bg-success " role="progressbar " style="width: 45%; height:6px;
                      " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 "></div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div>
                <hr> </div>
              <div class="card-body m-b-20 m-t-10 ">
                <div class="row ">
                  <div class="col-4 ">
                    <h1>5486</h1>
                    <h6 class="text-muted ">Projects</h6>
                  </div>
                  <div class="col-4 ">
                    <h1>987</h1>
                    <h6 class="text-muted ">Winning Entries</h6>
                  </div>
                  <div class="col-4 align-self-center text-right ">
                    <button type="button " class="btn btn-success ">Hire me</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column -->
          <div class="col-lg-4 col-xlg-3 col-md-5 ">
            <div class="card ">
              <img class="card-img " src="assets/images/background/socialbg.jpg " alt="Card image ">
              <div class="card-img-overlay card-inverse social-profile d-flex ">
                <div class="align-self-center ">
                  <img src="assets/images/users/1.jpg " alt="user " class="img-circle " width="125 ">
                  <h4 class="card-title ">Susanta Chakraborty</h4>
                  <h6 class="card-subtitle ">@susanta_boss</h6>
                  <p class="text-white ">Born in 23rd,Aug,1996
                    <br>IT Engineer, Sleep , Work, Eat, Code . You can follow me on Social Media </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Row -->
        <div class="row ">
          <!-- Column -->
          <div class="col-lg-8 col-xlg-9 col-md-7 ">
            <div class="card ">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs profile-tab " role="tablist ">
                <li class="nav-item ">
                  <a class="nav-link " data-toggle="tab " href="#profile " role="tab ">Profile</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link " data-toggle="tab " href="#settings " role="tab ">Settings</a>
                </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content ">
                <!--second tab-->
                <div class="tab-pane active " id="profile " role="tabpanel ">
                  <div class="card-body ">
                    <div class="row ">
                      <div class="col-md-3 col-xs-6 b-r ">
                        <strong>Full Name</strong>
                        <br>
                        <p class="text-muted ">Susanta Chakraborty</p>
                      </div>
                      <div class="col-md-3 col-xs-6 ">
                        <strong>Username</strong>
                        <br>
                        <p class="text-muted ">susanta96</p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r ">
                        <strong>Mobile</strong>
                        <br>
                        <p class="text-muted ">+91-9062921952</p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r ">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted ">susanta96@icloud.com</p>
                      </div>

                    </div>
                    <hr>
                    <p class="m-t-30 ">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet
                      a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus.
                      Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat
                      vitae, eleifend ac, enim.</p>
                    <h4 class="font-medium m-t-30 ">Skill Set</h4>
                    <hr>
                    <h5 class="m-t-30 ">Wordpress
                      <span class="pull-right ">80%</span>
                    </h5>
                    <div class="progress ">
                      <div class="progress-bar bg-success " role="progressbar " aria-valuenow="80 " aria-valuemin="0
                      " aria-valuemax="100 " style="width:80%; height:6px; ">
                        <span class="sr-only ">50% Complete</span>
                      </div>
                    </div>
                    <h5 class="m-t-30 ">HTML 5
                      <span class="pull-right ">75%</span>
                    </h5>
                    <div class="progress ">
                      <div class="progress-bar bg-info " role="progressbar " aria-valuenow="75 " aria-valuemin="0
                      " aria-valuemax="100 " style="width:75%; height:6px; ">
                        <span class="sr-only ">50% Complete</span>
                      </div>
                    </div>
                    <h5 class="m-t-30 ">jQuery
                      <span class="pull-right ">50%</span>
                    </h5>
                    <div class="progress ">
                      <div class="progress-bar bg-danger " role="progressbar " aria-valuenow="50 " aria-valuemin="0
                      " aria-valuemax="100 " style="width:50%; height:6px; ">
                        <span class="sr-only ">50% Complete</span>
                      </div>
                    </div>
                    <h5 class="m-t-30 ">Bootstrap
                      <span class="pull-right ">70%</span>
                    </h5>
                    <div class="progress ">
                      <div class="progress-bar bg-warning " role="progressbar " aria-valuenow="70 " aria-valuemin="0
                      " aria-valuemax="100 " style="width:70%; height:6px; ">
                        <span class="sr-only ">50% Complete</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane " id="settings " role="tabpanel ">
                  <div class="card-body ">
                    <form class="form-horizontal form-material ">
                      <div class="form-group ">
                        <label class="col-md-12 ">Full Name</label>
                        <div class="col-md-12 ">
                          <input type="text " placeholder="Johnathan Doe " class="form-control form-control-line ">
                        </div>
                      </div>
                      <div class="form-group ">
                        <label for="example-email " class="col-md-12 ">Email</label>
                        <div class="col-md-12 ">
                          <input type="email " placeholder="johnathan@admin.com " class="form-control form-control-line
                      " name="example-email " id="example-email ">
                        </div>
                      </div>
                      <div class="form-group ">
                        <label class="col-md-12 ">Password</label>
                        <div class="col-md-12 ">
                          <input type="password " value="password " class="form-control form-control-line ">
                        </div>
                      </div>
                      <div class="form-group ">
                        <label class="col-md-12 ">Phone No</label>
                        <div class="col-md-12 ">
                          <input type="text " placeholder="123 456 7890 " class="form-control form-control-line ">
                        </div>
                      </div>
                      <div class="form-group ">
                        <label class="col-md-12 ">Message</label>
                        <div class="col-md-12 ">
                          <textarea rows="5 " class="form-control form-control-line "></textarea>
                        </div>
                      </div>

                      <div class="form-group ">
                        <div class="col-sm-12 ">
                          <button class="btn btn-success ">Update Profile</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column -->
          <!-- Column -->
          <div class="col-lg-4 col-xlg-3 col-md-5 ">
            <div class="card ">
              <div class="card-body ">
                <div class="text-center m-t-30 ">
                  <img src="../assets/images/users/5.jpg " alt="img " class="img-circle " width="150 " />
                  <h4 class="card-title m-t-10 ">Hanna Gover</h4>
                  <h6 class="card-subtitle ">Accoubts Manager Amix corp</h6>
                  <div class="row text-center justify-content-md-center ">
                    <div class="col-4 ">
                      <a href="javascript:void(0) " class="link ">
                        <i class="icon-people "></i>
                        <span class="font-medium ">254</span>
                      </a>
                    </div>
                    <div class="col-4 ">
                      <a href="javascript:void(0) " class="link ">
                        <i class="icon-picture "></i>
                        <span class="font-medium ">54</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <hr> </div>
              <div class="card-body ">
                <small class="text-muted ">Email address </small>
                <h6>hannagover@gmail.com</h6>
                <small class="text-muted p-t-30 db ">Phone</small>
                <h6>+91 654 784 547</h6>
                <small class="text-muted p-t-30 db ">Address</small>
                <h6>71 Pilgrim Avenue Chevy Chase, MD 20815</h6>
                <div class="map-box ">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508 "
                    height="150 " class="w-100 " style="border:0 " allowfullscreen></iframe>
                </div>
                <small class="text-muted p-t-30 db ">Social Profile</small>
                <br/>
                <button class="btn btn-circle btn-secondary ">
                  <i class="fa fa-facebook "></i>
                </button>
                <button class="btn btn-circle btn-secondary ">
                  <i class="fa fa-twitter "></i>
                </button>
                <button class="btn btn-circle btn-secondary ">
                  <i class="fa fa-youtube "></i>
                </button>
              </div>
            </div>
          </div>
          <!-- Column -->
        </div>
        <!-- Row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->

      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer "> &copy; 2018 GST Billing System </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <script src="assets/plugins/jquery/jquery.min.js "></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="assets/plugins/bootstrap/js/popper.min.js "></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js "></script>
  <!-- slimscrollbar scrollbar JavaScript -->
  <script src="assets/js/jquery.slimscroll.js "></script>
  <!--Wave Effects -->
  <script src="assets/js/waves.js "></script>
  <!--Menu sidebar -->
  <script src="assets/js/sidebarmenu.js "></script>
  <!--stickey kit -->
  <script src="assets/plugins/sticky-kit-master/dist/sticky-kit.min.js "></script>
  <script src="assets/plugins/sparkline/jquery.sparkline.min.js "></script>
  <!--Custom JavaScript -->
  <script src="assets/js/custom.min.js "></script>
  <!-- ============================================================== -->
  <!-- This page plugins -->
  <!-- ============================================================== -->
  <script src="assets/plugins/chartist-js/dist/chartist.min.js "></script>
  <script src="assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js "></script>
  <script src="assets/plugins/sparkline/jquery.sparkline.min.js "></script>
  <!-- Chart JS -->
  <script src="assets/plugins/echarts/echarts-all.js "></script>
  <!-- Flot Charts JavaScript -->
  <script src="assets/plugins/flot/excanvas.js "></script>
  <script src="assets/plugins/flot/jquery.flot.js "></script>
  <script src="assets/plugins/flot/jquery.flot.time.js "></script>
  <script src="assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js "></script>
  <script src="assets/js/dashboard.js "></script>
  <!-- ============================================================== -->
</body>

</html>