<!-- <!DOCTYPE html>
<html lang="en">

<head> -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Admin Panel - GST Billing System">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
<title>Admin Panel - GST Billing System</title>
<!-- Bootstrap Core CSS -->
<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- chartist CSS -->
<link href="assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
<link href="assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
<link href="assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
<link href="assets/plugins/css-chart/css-chart.css" rel="stylesheet">
<!--This page css - Morris CSS -->
<link href="assets/plugins/morrisjs/morris.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="assets/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="assets/css/colors/purple-dark.css" id="theme" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar card-no-border">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
          <a class="navbar-brand" href="dashboard">
            <!-- Logo icon -->
            <b>
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->

              <!-- Light Logo icon -->
              <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
            </b>
            <!--End Logo icon -->
            <!-- Logo text -->
            <span>
              <!-- Light Logo text -->
              <img src="assets/images/logo-light-text.png" alt="homepage" class="light-logo" />
            </span>
          </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav mr-auto mt-md-0">
            <!-- This is  -->
            <li class="nav-item">
              <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                <i class="mdi mdi-menu"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
                <i class="ti-menu"></i>
              </a>
            </li>

            <!-- ============================================================== -->
            <!-- Messages -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown mega-dropdown">
              <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="mdi mdi-view-grid"></i>
              </a>
              <div class="dropdown-menu scale-up-left">
                <ul class="mega-dropdown-menu row">

                  <li class="col-lg-3  m-b-30">
                    <h4 class="m-b-20">CONTACT US</h4>
                    <!-- Contact -->
                    <form>
                      <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name"> </div>
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter email"> </div>
                      <div class="form-group">
                        <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                      </div>
                      <button type="submit" class="btn btn-info">Submit</button>
                    </form>
                  </li>
                  <li class="col-lg-3 col-xlg-4 m-b-30">
                    <h4 class="m-b-20">List style</h4>
                    <!-- List style -->
                    <ul class="list-style-none">
                      <li>
                        <a href="javascript:void(0)">
                          <i class="fa fa-check text-success"></i> You can give link</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <i class="fa fa-check text-success"></i> Give link</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <i class="fa fa-check text-success"></i> Another Give link</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <i class="fa fa-check text-success"></i> Forth link</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <i class="fa fa-check text-success"></i> Another fifth link</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
            <!-- ============================================================== -->
            <!-- End Messages -->
            <!-- ============================================================== -->
          </ul>
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
          <ul class="navbar-nav my-lg-0">
            <!-- ============================================================== -->
            <!-- Comment -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="mdi mdi-message"></i>
                <div class="notify">
                  <span class="heartbit"></span>
                  <span class="point"></span>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                <ul>
                  <li>
                    <div class="drop-title">Notifications</div>
                  </li>
                  <li>
                    <div class="message-center">
                      <!-- Message -->
                      <a href="#">
                        <div class="btn btn-danger btn-circle">
                          <i class="fa fa-check"></i>
                        </div>
                        <div class="mail-contnet">
                          <h5>
                            <%= userLoggedIn.name %>
                          </h5>
                          <span class="mail-desc">Welcome to The System</span>

                        </div>
                      </a>
                      <!-- Message -->
                      <% if(message) { %>
                        <a href="#">
                          <div class="btn btn-danger btn-circle">
                            <i class="ti-settings"></i>
                          </div>
                          <div class="mail-contnet">
                            <h5>Error</h5>
                            <span class="mail-desc">
                              <%= message %>
                            </span>
                          </div>
                        </a>
                        <% } %>
                    </div>
                  </li>
                  <li>
                    <a class="nav-link text-center" href="javascript:void(0);">
                      <strong>Check all notifications</strong>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <!-- ============================================================== -->
            <!-- End Comment -->
            <!-- ============================================================== -->
            <!-- Profile -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img src="assets/images/users/1.jpg" alt="user" class="profile-pic" />
              </a>
              <div class="dropdown-menu dropdown-menu-right scale-up">
                <ul class="dropdown-user">
                  <li>
                    <div class="dw-user-box">
                      <div class="u-img">
                        <img src="assets/images/users/1.jpg" alt="user">
                      </div>
                      <div class="u-text">
                        <h4>
                          <%= userLoggedIn.name %>
                        </h4>
                        <p class="text-muted">
                          <%= userLoggedIn.email %>
                        </p>
                        <a href="profile" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                      </div>
                    </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="profile">
                      <i class="ti-user"></i> My Profile</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="#">
                      <i class="ti-settings"></i> Account Setting</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="logout">
                      <i class="fa fa-power-off"></i> Logout</a>
                  </li>
                </ul>
              </div>
            </li>
            <!-- ============================================================== -->
            <!-- Language -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="flag-icon flag-icon-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
          <!-- User profile image -->
          <div class="profile-img">
            <img src="assets/images/users/1.jpg" alt="user" /> </div>
          <!-- User profile text-->
          <div class="profile-text">
            <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
              <%= userLoggedIn.name %>
            </a>
            <div class="dropdown-menu animated flipInY">
              <a href="profile" class="dropdown-item">
                <i class="ti-user"></i> My Profile</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="ti-settings"></i> Account Setting</a>
              <div class="dropdown-divider"></div>
              <a href="logout" class="dropdown-item">
                <i class="fa fa-power-off"></i> Logout</a>
            </div>
          </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="nav-small-cap">Menu</li>
            <li>
              <a class="waves-effect waves-dark" href="dashboard" aria-expanded="false">
                <i class="mdi mdi-gauge"></i>
                <span class="hide-menu">DASHBOARD </span>
              </a>
            </li>
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                <i class="mdi mdi-laptop-windows"></i>
                <span class="hide-menu">BILLING</span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <li>
                  <a href="addbill">Generate Bill</a>
                </li>
                <li>
                  <a href="manage-bill">Manage Bill</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                <i class="mdi mdi-book-multiple"></i>
                <span class="hide-menu">PRODUCTS</span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <li>
                  <a href="addproduct">Add Product</a>
                </li>
                <li>
                  <a href="manage-product">Manage Product</a>
                </li>
              </ul>
            </li>
            <% if(userLoggedIn.admin == true) { %>
              <li>
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                  <i class="mdi mdi-chart-line"></i>
                  <span class="hide-menu">MANAGER PANEL</span>
                </a>
                <ul aria-expanded="false" class="collapse">
                  <li>
                    <a href="addemp">Add Employee</a>
                  </li>
                  <li>
                    <a href="manage-emp">Manage Employee</a>
                  </li>
                  <li>
                    <a href="report">Generate Report </a>
                  </li>
                  <% } %>
                </ul>
              </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
      <!-- Bottom points-->
      <div class="sidebar-footer">
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Settings">
          <i class="ti-settings"></i>
        </a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Email">
          <i class="mdi mdi-gmail"></i>
        </a>
        <!-- item-->
        <a href="logout" class="link" data-toggle="tooltip" title="Logout">
          <i class="mdi mdi-power"></i>
        </a>
      </div>
      <!-- End Bottom points-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="assets/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="assets/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="assets/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="assets/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <script src="assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="assets/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart JS -->
    <script src="assets/plugins/echarts/echarts-all.js"></script>
    <!-- Flot Charts JavaScript -->
    <script src="assets/plugins/flot/excanvas.js"></script>
    <script src="assets/plugins/flot/jquery.flot.js"></script>
    <script src="assets/plugins/flot/jquery.flot.time.js"></script>
    <script src="assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="assets/js/dashboard.js"></script>
    <!-- ============================================================== -->

    <!-- </body>

</html> -->
