<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('header'); -%>
  <!-- <title> <%= bill.name %> - Invoice </title> -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
          <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
              </li>
              <li class="breadcrumb-item active">Invoice</li>
            </ol>
          </div>
          <div class="col-md-7 col-4 align-self-center">
            <div class="d-flex m-t-10 justify-content-end">
              <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                  <h6 class="m-b-0">
                    <small>THIS MONTH</small>
                  </h6>
                  <h4 class="m-t-0 text-info"><i class="fa fa-inr"></i><%= currentSale.toFixed(2) %></h4>
                </div>
                <div class="spark-chart">
                  <div id="monthchart"></div>
                </div>
              </div>
              <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                  <h6 class="m-b-0">
                    <small>LAST MONTH</small>
                  </h6>
                  <h4 class="m-t-0 text-primary"><i class="fa fa-inr"></i><%= previousSale.toFixed(2) %></h4>
                </div>
                <div class="spark-chart">
                  <div id="lastmonthchart"></div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="col-12">
        <% if(successMessage) { %>
        <div class="row">
          <div class="alert alert-success col-md-12">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            <h3 class="text-success"><i class="fa fa-check-circle"></i> Success</h3> <%= successMessage %>
          </div>
        </div>
        <% } %>
        <% if(message) { %>
        <div class="row">
          <div class="alert alert-danger col-md-12">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            <h3 class="text-danger"><i class="fa fa-check-circle"></i> Error</h3> <%= message %>
          </div>
        </div>
        <% } %>
      </div>
      
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body printableArea">
                    <h3><b>INVOICE</b> <span class="pull-right">#<%= bill._id %></span></h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <address>
                                    <h3> &nbsp;<b class="text-danger">GST Billing Service</b></h3>
                                    <p class="text-muted m-l-5">E 104, SM SARANI,
                                        <br/> SAPTAGRAM,
                                        <br/> BIRATI,
                                        <br/> Kolkata - 700051</p>
                                    <p class="m-t-30"><b>Mobile :</b> <i class="fa fa-mobile"></i> +91-7003247631</p>
                                    <p><b>Email :</b> <i class="fa fa-mail"></i> gst.portal@gmail.com</p>
                                </address>
                                
                            </div>
                            <div class="pull-right text-right">
                                <address>
                                    <h3>To,</h3>
                                    <h4 class="font-bold"><%= bill.name %></h4>
                                    <p class="text-muted m-l-30"><%= bill.address %></p>
                                    <p class="m-t-30"><b>Mobile :</b> <i class="fa fa-mobile"></i> <%= bill.mobile %></p>
                                    <p><b>Email :</b> <i class="fa fa-mail"></i> <%= bill.email %></p>
                                    <p><b>Invoice Date :</b> <i class="fa fa-calendar"></i> <%= bill.date %></p>
                                </address>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive m-t-40" style="clear: both;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Sl.No.</th>
                                            <th>Description</th>    
                                            <th class="text-right">Quantity</th>
                                            <th class="text-right">Unit Cost</th>
                                            <th class="text-right">CGST</th>
                                            <th class="text-right">SGST</th>
                                            <th class="text-right">SubTotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(bill) { %>
                                            <% for(var i = 0; i < bill.product.length; i++) { %>
                                                <tr>
                                                    <td class="text-center"><%= i+1 %></td>
                                                    <td><%= bill.product[i] %></td>
                                                    <td class="text-right"> <%= bill.quantity[i] %> </td>
                                                    <td class="text-right"> <%= bill.sell[i] %> </td>
                                                    <td class="text-right"> <%= (bill.gst[i])/2 %> </td>
                                                    <td class="text-right"> <%= (bill.gst[i])/2 %> </td>
                                                    <% var TAX = (bill.sell[i] * bill.gst[i])/100; %>
                                                    <td class="text-right"> <%= (bill.sell[i] + TAX) %> </td>
                                                </tr>
                                            <% } %>
                                        <% } %>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="pull-right m-t-30 text-right">
                                <hr>
                                <h3><b> Grand Total :</b>&nbsp; <%= bill.price %></h3>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <hr border="2"/> *This is an electronic generated invoice so doesn't require any signature.
                                </div>
                            </div>
                            <div class="text-right">
                                <a href="manage-bill"><button class="btn btn-primary" type="button" id="back"> Back to Manage Bill </button></a>
                                <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
       

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->


    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    </div>
    
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!--Custom JavaScript -->
    <script src="assets/js/custom.min.js"></script>
    <script src="assets/js/jquery.PrintArea.js" type="text/JavaScript"></script>
    <link rel="stylesheet" type="text/css" media="print" href="assets/css/print.css" />
    <script>
    $(document).ready(function() {
        $("#print").click(function() {
            var mode = 'iframe'; //popup
            var close = mode == "popup";
            var options = {
                mode: mode,
                popClose: close,
            };
            $("div.printableArea").printArea(options);
        });
    });
    </script>
    <%- include('footer'); -%>
