<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <link rel="stylesheet" href="assets/css/dataTables.bootstrap.min.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"> -->
  <%- include('header'); -%>

    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
          <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
              </li>
              <li class="breadcrumb-item active">Manage Products</li>
            </ol>
          </div>
          <div class="col-md-7 col-4 align-self-center">
            <div class="d-flex m-t-10 justify-content-end">
              <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                  <h6 class="m-b-0">
                    <small>THIS MONTH</small>
                  </h6>
                  <h4 class="m-t-0 text-info"><i class="mdi mdi-currency-inr"></i>58,356</h4>
                </div>
                <div class="spark-chart">
                  <div id="monthchart"></div>
                </div>
              </div>
              <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                  <h6 class="m-b-0">
                    <small>LAST MONTH</small>
                  </h6>
                  <h4 class="m-t-0 text-primary"><i class="mdi mdi-currency-inr"></i>48,356</h4>
                </div>
                <div class="spark-chart">
                  <div id="lastmonthchart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Products Data Table</h4>
                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                <div class="table-responsive m-t-40">
                  <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Operations</th>
                        <th>Product Name</th>
                        <th>Brand Name</th>
                        <th>Buying Price</th>
                        <th>Selling Price</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Operations</th>
                        <th>Product Name</th>
                        <th>Brand Name</th>
                        <th>Buying Price</th>
                        <th>Selling Price</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <% if(product) { %>
                        <% for(var i = 0; i < product.length; i++) { %>
                          <tr>
                            <td>
                              <a href="/deleteProduct/<%= product[i]._id %>" class="btn btn-sm btn-primary"> <span class="fa fa-trash"></span> </a>
                            </td>
                            <td>
                              <%= product[i].pname %>
                            </td>
                            <td>
                              <%= product[i].brand %>
                            </td>
                            <td>
                              <%= product[i].buy %>
                            </td>
                            <td>
                              <%= product[i].sell %>
                            </td>
                          </tr>
                        <% } %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- This is data table -->
        <script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
        <!-- start - This is for export functionality only -->
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
        <!-- end - This is for export functionality only -->
        <!-- ============================================================== -->
        <!-- This page plugins -->
        <!-- ============================================================== -->
        <script src="assets/js/jasny-bootstrap.js"></script>

        <script>
          $(document).ready(function () {
            $('#myTable').DataTable();
            $(document).ready(function () {
              var table = $('#example').DataTable({
                "columnDefs": [{
                  "visible": false,
                  "targets": 2
                }],
                "order": [
                  [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function (settings) {
                  var api = this.api();
                  var rows = api.rows({
                    page: 'current'
                  }).nodes();
                  var last = null;
                  api.column(2, {
                    page: 'current'
                  }).data().each(function (group, i) {
                    if (last !== group) {
                      $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                      last = group;
                    }
                  });
                }
              });
              // Order by the grouping
              $('#example tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                  table.order([2, 'desc']).draw();
                } else {
                  table.order([2, 'asc']).draw();
                }
              });
            });
          });
          $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
              'copy', 'csv', 'excel', 'pdf', 'print'
            ]
          });
        </script>






        <%- include('footer'); -%>